.footer {
    background: var(--black);

    padding: 2rem;
}

.footerSpan {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 5rem;
}

.logo {
    width: 150px;
    height: 40px;

    margin: 1rem;
}

.footerData {
    color: var(--white);
    font-size: 1rem;
}

.footerData:hover {
    color: var(--green);
}

.footerMarca {
    color: var(--white);
    font-size: 0.8rem;
}