.header {
    background: var(--black);

    top: 0;
    position: fixed;
    width: 100%;
}

.headerSpan {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 5rem;
}

.logo {
    width: 150px;
    height: 40px;

    margin: 1rem;
}

.headerNavBar {
    display: inline;
}

li {
    display: inline-block;
    font-size: 16px;
    line-height: inherit;
    letter-spacing: 0;
}

.headerLinks {
    color: var(--white);
    font-weight: 600;
    font-size: 1rem;

    margin: 0rem 0.5rem;
    padding: 28px 17px;
}

.headerLinks:hover {
    color: var(--green);
}