.header {
    background: var(--black);

    top: 0;
    position: fixed;
    width: 100%;
}

.headerSpan {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 5rem;
}

.logo {
    width: 150px;
    height: 40px;

    margin: 1rem;
}

.link {
    color: var(--white);
    font-weight: 600;
    font-size: 1rem;
}

.link:hover {
    color: var(--green);
}