.musicsDiv {
    margin-top: 3rem;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.musicsPlaylists {
    margin: 7rem 3rem;
    display: flex;
    justify-content: space-between;
}